# =========================
# Windows detritus
# =========================

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# =========================
# Compass SASS
# =========================

.sass-cache

